src/*.exe
src/keisercoin
src/keisercoind
src/test_keisercoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.keisercoin

# Compilation and Qt preprocessor part
*.qm
Makefile
keisercoin-qt
Keisercoin-Qt.app

# Unit-tests
Makefile.test
keisercoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
